<!doctype html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main">
       {{>header}}
        <h2>404</h2>
        <p>{{title}} Page Not found</p>
        </div>
        {{>footer}}
    </body>
</html>